name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
      - run: |
          npm i -g corepack@latest
          corepack enable pnpm
      - run: pnpm i
      - run: pnpm typecheck
      - run: pnpm lint
      - run: pnpm build
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
      - run: |
          npm i -g corepack@latest
          corepack enable pnpm
      - run: pnpm i
      - run: pnpm playwright install --with-deps chromium
      - run: pnpm build
      - run: |
          ATPROTO_SHA=$(< .atproto-sha)
          echo "ATPROTO_SHA=$ATPROTO_SHA" >> $GITHUB_ENV
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: /home/runner/.cache/pdsadmin-web
          key: atproto-${{ env.ATPROTO_SHA }}
      - run: pnpm setup-dev-env
      - run: pnpm e2e
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
